html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1b263b;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

h1 {
  margin: 0 20px;
}

img {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}